<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betrisey.suzanne.androidproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name" >

        <!-- Home -->
        <activity
            android:name=".Home"
            android:theme="@style/Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Donneur -->
        <activity
            android:name=".Donneur"
            android:label="@string/title_activity_donneur"
            android:theme="@style/Fonctionalite" >
        </activity>

        <!-- NouveauDonneur -->
        <activity
            android:name=".NouveauDonneur"
            android:label="@string/title_activity_nouveau_donneur"
            android:parentActivityName=".Donneur"
            android:theme="@style/Fonctionalite" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.betrisey.suzanne.androidproject.Donneur" />
        </activity>

        <!-- Intervention -->
        <activity
            android:name=".Intervention"
            android:label="@string/title_activity_intervention"
            android:theme="@style/Fonctionalite" >
        </activity>

        <!-- Banque du sang -->
        <activity
            android:name=".Sang"
            android:label="@string/title_activity_sang"
            android:theme="@style/Fonctionalite" >
        </activity>

        <!-- Parametre -->
        <activity
            android:name=".Parametre"
            android:label="@string/title_activity_parametre"
            android:theme="@style/Fonctionalite" >
        </activity>

    </application>

</manifest>
